.alert p {
  margin-top: .2rem;
  margin-bottom: .2rem;
}
.alert.info {
  color: #000;
}
.alert.success {
  color: #008700;
}
.alert.warning {
  color: #FFC800;
}
.alert.error {
  color: #D50606;
}

.alert-banner {
  display: block;
  margin-bottom: 2rem;
  border-radius: 2px;
  padding: 1.6rem 2rem;
  border: 1px solid #000;
  border-top: 5px solid #000;
  color: #000;
  font-weight: 600;
}
.alert-banner .fa {
  display: inline-block;
  margin-right: 0.5em;
}
.alert-banner.success {
  border: 1px solid #008700;
  border-top: 3px solid #008700;
  color: #000;
}
.alert-banner.warning {
  border: 1px solid #FFC800;
  border-top: 5px solid #FFC800;
  color: #000;
}
.alert-banner.error {
  border: 1px solid #D50606;
  border-top: 5px solid #D50606;
  color: #000;
}
